<header class="p-3 bg-dark text-white mb-3">
    <div class="container">        
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
                    <li> <%= link_to "Заказы", orders_path, class: "nav-link px-2"%></li>
                    <li> <%= link_to "Услуги", services_path, class: "nav-link px-2"%></li>
                    <li> <%= link_to "Категории", categories_path, class: "nav-link px-2"%></li>
                    <li> <%= link_to "Исполнители", executors_path, class: "nav-link px-2"%></li>
            </ul>
        </nav>
    </div>
</header>